name: CI/CD de test Flutter

on:
  push:
    branches: RiadFlutterCICD

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v3
          with:
            distribution: 'zulu' 
            java-version: '17'
            
        - name: Set up Flutter
          uses: subosito/flutter-action@v1
          with:
            flutter-version: '3.3.10'
            
        - name: Get dependencies
          run: |
            cd /home/runner/work/mspr-paye-ton-kawa/mspr-paye-ton-kawa/mobile_app
            flutter pub get
            
        #- name: Code analyze
         # run: |
          # cd /home/runner/work/mspr-paye-ton-kawa/mspr-paye-ton-kawa/mobile_app
          # flutter analyze
            
        - name: Run tests
          run: |
           cd /home/runner/work/mspr-paye-ton-kawa/mspr-paye-ton-kawa/mobile_app
           flutter test
           
        - name: Run build apk
          run: |
           cd /home/runner/work/mspr-paye-ton-kawa/mspr-paye-ton-kawa/mobile_app
           flutter build apk
           
        - name: Save aplication artifact 
          uses: actions/upload-artifact@v2
          with:
            name: kawaApp.apk
            path: /home/runner/work/mspr-paye-ton-kawa/mspr-paye-ton-kawa/mobile_app/build/app/outputs/flutter-apk/app-release.apk
           

