name: CI/CD de test Flutter

on:
  push:
    branches: RiadFlutterCICD

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v3
          with:
            distribution: 'zulu' 
            java-version: '17'
        - name: Set up Flutter
          uses: subosito/flutter-action@v1
          with:
            flutter-version: '3.3.10'
        - name: Get dependencies
          run: |
            cd /mspr-paye-ton-kawa
            flutter pub get
        - name: Run tests
          run: |
           cd /mobile_app/test
           flutter test 
        - name: Run tests
          run: flutter build apk
        - name: Run tests
          run: flutter build appbundle 

